<form class="form-inline searchbox" method="post" action="/search_galleries">

    <div>
        
        <input type="text" class="form-control" name="title" value="<%=params[:title]%>" placeholder="search">
        <button class="btn btn-primary">Search</button>
    </div>

</form>