<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="margin-left: 20px"><%= @user.name %>'s Gallery</h1>
        </div>
    </div>

    <div class="row">
            <%@user.galleries.each do |gallery| %>

                <div class="imagebox col-md-12">
                    <h2  class="card-title"><%= gallery.title %></h2>
                    <%= image_tag gallery.image.url(:thumb) , class: "imagegallery"%>
                </div>
            <%end%>

    </div>
</div>

