<h1>Gallery</h1>

<% @gallery.each do |gallery| %>

 <a href="/galleries/<%= gallery.id %>">
        <%= image_tag gallery.image.url %>

    </a>
   
    
  
<% end %>

<%= link_to "New Gallery", new_gallery_path %>
