/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body{
     margin-top: 60px;
 }
#welcomeuser{
    margin-top: 15px;
}
.imageindex{
    margin: 20px 20px 17px 11px;
}

.indexbody{
    margin-top: -46px;
}

.imagebox{
    margin: 10px 10px 10px 10px;
    border: 1px solid rgb(209, 200, 200);
    border-radius: 20px;
    width: 350px;
    
    margin-right: 50px;
    margin-left:20px 
}


.container {
    width: 1260px;
} 

.card-title{
    font-size: 30px;
    margin: 20px 20px 20px 20px;
    border-bottom: 1px solid rgb(209, 200, 200);
    width: 281px;
}

.indexbtn{
    margin-left: 18px;
    font-size: 20px;
   
}

/* .imageshow{
    width: 300px;
    height: auto;
    border-radius: 20px;
    margin: 0px 20px 20px 10px
} */

.showlinks{
    font-size: 20px;
}

.footer{
    margin: 15px 20px 20px 20px;
    font-size: 18px;
    /* border-top:  1px solid rgb(209, 200, 200); */
}

.imagegallery{
    margin: 0px 10px 20px 11px;
}

.searchbox{
    margin-top: 8px;
  
}